   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

.btn{
    background-color: #7EAB78;
    border-radius: 5px;
    font-size: 32px;
    border: 0;
    transition: 0.3;
    color: #fff;
}
.btn:hover{
    background-color: #597b54;
}
.btn-show{
     height: 100px;
    width: 375px;
}
.btn-wrapper{
   display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    margin-top: calc(50vh - 40px);
}
.modal-footer,.modal-wrapper{
	display: none;
    width: 100%;
}
.active{
	display: block;
}
.modal-body{
    background-color: #F3F3F3;
    padding: 40px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer.active{
    display: flex;
    justify-content: space-between;
}
.modal-li{
    font-size: 25px;
    font-weight: 400;
}
.modal-li_btn, .modal-li_btn-2{
    background-color: #7EAB78;
    border-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 15px;
    padding: 20px;
    text-align: center;

}
.modal-li_btn-2{
    padding: 20px 40px;
}

.table-input{
	width: 60px;
    padding: 0;
    border: none;
    text-align: center;
    background-color: transparent;
}
.table-sum{
    font-size: 21px;
}
.modal-list{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
   flex-direction: row;
display: -webkit-flex;	
	-webkit-justify-content:center;
	-webkit-flex-direction: row;
}
.modal-list-name_li{
display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.modal-list-name_text{
    margin-top: 20px;
    
}
.modal-modify label{
    display: inline-flex;
        align-items: center;
    margin-right: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
}
.modal-modify_input{    
    margin-right: 10px;
    appearance: none;
     -moz-appearance: none;
-webkit-appearance: none;
    border: 1px solid #D0D0D0;
    background: #fff;
    width: 20px;
    height: 20px;
}

.modal-modify_input:checked ~ div:before{
    content: "✓";
    font-size: 23px;
    font-weight: 600;
    display: block;
    position: absolute;
    top: -5px;
    left: 2px;
    color: #597b54;
}
.modal-mail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.modal-mail_li p{
    margin-bottom: 0;
    font-size: 20px;
}
.modal-mail_li input{
    width: 100%;
}
.modal-mail-btn{
padding: 10px;
    grid-column: 1 / 3;
    font-size: 20px;
}
