   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

.btn{
    background-color: #7EAB78;
    border-radius: 5px;
    font-size: 32px;
    border: 0;
    transition: 0.3;
    color: #fff;
}
.btn:hover{
    background-color: #597b54;
}
.btn-show{
     height: 100px;
    width: 375px;
}
.btn-wrapper{
   display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    margin-top: calc(50vh - 40px);
}
.modal-footer,.modal-wrapper{
	display: none;
}
.active{
	display: block;
}
.modal-footer.active{
    display: flex;
    justify-content: space-between;
}
.modal-li{
    font-size: 25px;
    font-weight: 400;
}
.modal-li_btn, .modal-li_btn-2{
    background-color: #7EAB78;
    border-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 0 15px;
    padding: 20px;
    text-align: center;

}
.modal-li_btn-2{
    padding: 20px 40px;
}

.table-input{
	width: 60px;
    padding: 0;
    border: none;
    text-align: center;
    background-color: transparent;
}
.table-sum{
    font-size: 21px;
}
.modal-list{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-list-name_li{
display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.modal-list-name_text{
    margin-top: 20px;
    
}
